.khung{
	margin: 0 auto;
	width: 1000px;
	height: 300px;
	background: black;
}
.khung .khung1{
	margin: 0 auto;
	width: 90%;
	height: auto;
	background: black;
}
.khung1 .box1{
	float: left;
	width: 73.75%;
	height: auto;
	background: black;
	margin-right: 5%;
}
.khung1 .box2{
	float: left;
	width: 21.25%;
	height: auto;
	background: black;

}
.khung .khung2{
	width: 90%;
	height: auto;
	background: black;
	margin: 0 auto;
}
.khung2 .box3{
	float: left;
	width: 21.25%;
	height: auto;
	background: black;
	margin-right: 5%;
}
.khung2 .box4{
	float: left;
	width: 21.25%;
	height: auto;
	background: black;
	margin-right: 5%;
}
.khung2 .box5{
	float: left;
	width: 21.25%;
	height: auto;
	background: black;
	margin-right: 5%;
	
	
}
.khung2 .box6{
	float: left;
	width: 21.25%;
	height: auto;
	background: black;
}
h2{
	margin: 0;
	color: white;
	font-size: 20px;
	font-style: italic;
	padding: 10px 10px;
	display: inline-block;
	width: 100%;
	height: 35px;
	background: black;

}
p{
	margin: 0;
	color: white;
	text-align: justify;
	font-style: italic;
	padding: 10px 10px;
}