.khung{
	width: 1000px;
	height: 340px;
	background:#94BFEB;
	margin: 0 auto;
}
.khung .box1{
	width: 96%;
	height: 150px;
	/*background: red;*/
	margin: 0 auto;
	margin-bottom: 20px;

}
.box1 .b1{
	float: left;
	width: 30%;
	height: auto;
	/*background: blue;*/
	margin-top: 20px;
}
.box1 .diff{
	margin-left: 5%;
	margin-right: 5%;
}
.b1 .header{
	width: 100%;
	height: 50px;
	/*background: green;*/
}
.header .pic{
	float: left;
	width: 30%;
	height: 100%;
	/*background: black;*/
	margin-right: 2%;
}
.pic img{
	width: 100%;
	height: 100%;
}
.header .title{
	float: left;
	width: 68%;
	height: auto;
	/*background: yellow;*/
	margin: 0;
}
.title h4{
	margin: 0;
	color: #2E6B6A;
	line-height: 24px;
	font-size: 16px; 
	text-align: justify;
	padding: 13px 2px;

}
.box1 .b2{
	width: 100%;
	height: auto;
	/*background: red;*/
	margin-top: 20px;
}
.b2 p{
	margin: 0;
	padding: 2px;
	line-height: 20px;
	text-align: justify;
	color: white;
	font-size: 14px;
}