.b1{
	width: 80%;
	height: 80px;
	background: #007f7f;
	margin-left: 10%;
	margin-bottom: 20px;
	margin-top: 100px;
}
.b2{
	width: auto;
	height: 400px;
	background: #666666;
	margin-bottom: 20px;

}
.b3{
	width: 80%;
	height: 100px;
	background: #007f7f;
	margin-left: 10%;
	margin-bottom: 20px;
}
.b4{
	float: left;
	width: 25%;
	height: 400px;
	background: #666666;
	margin-left: 10%;
	margin-right: 2.5%;
}
.b5{
	float: left;
	width: 25%;
	height: 400px;
	background: #666666;
	margin-right: 2.5%;
}
.b6{
	float: left;
	width: 25%;
	height: 400px;
	background: #666666;
	margin-bottom: 20px;

}
.b7{
	clear: both;
	float: left;
	width: 25%;
	height: 200px;
	background: #007f7f;
	margin-left: 10%;
	margin-right: 2.5%;
}
.b8{
	float: left;
	width: 25%;
	height: 200px;
	background: #007f7f;
	margin-right: 2.5%
}
.b9{
	float: left;
	width: 25%;
	height: 200px;
	background: #007f7f;
}
