.khung{
	width: 1000px;
	height: 500px;
	background: white;
	margin: 0 auto;
}
.khung .logo{
	float: left;
	width: 19.6%;
	height: 15%;
	background: #e0d0f2;
	margin-top: 2PX;
	margin-left: 2PX;
	margin-bottom: 2PX;
	margin-right: 2px;
}
.khung .header{
	float: left;
	width: 80%;
	height: 15%;
	background:  #7d7de0;
	margin-bottom: 2px;
}
.khung .mainmenu{
	clear: both;
	width: 100%;
	height: 10%;
	background:#ffaa56;
	margin-bottom: 2px;
}
.khung .contentarea{
	width: 100%;
	height: 60%;
	background: #cccccc;
	margin-bottom: 2px;
}
.khung .footer{
	clear: both;
	width: 100%;
	height: 15%;
	background: #bfbf00;
}