.khung{
	width: 1000px;
	height: 1000px;
	background: #aad4ff;
	margin: 0 auto;
}
.khung .b1{
	float: left;
	width: 800px;
	height: 110px;
	background: #808080;
	margin-top: 40px;
	margin-left: 100px;
	margin-bottom: 20px;
	

}
.khung .b2{
	clear: both;
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;
	margin-left: 100px;
}
.khung .b3{
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;
}

.khung .b4{
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;
}
.khung .b5{
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;
	margin-bottom: 20px;
	
}
.khung .b6{
	clear: both;
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;
	margin-left: 100px;

}
.khung .b7{
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;
}
.khung .b8{
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;

}
.khung .b9{
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-bottom: 20px;
	margin-right: 20px;
}
.khung .b10{
	clear: both;
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;
	margin-left: 100px;
}
.khung .b11{
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;
}
.khung .b12{
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;
}
.khung .b13{
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-bottom: 20px;
	margin-right: 20px;
}
.khung .b14{
	clear: both;
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;
	margin-left: 100px;
}
.khung .b15{
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;
}
.khung .b16{
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-right: 20px;
}
.khung .b17{
	float: left;
	width: 185px;
	height: 110px;
	background: #808080;
	margin-bottom: 15px;

}
.khung .b18{
	clear: both;
	float: left;
	width: 260px;
	height: 225px;
	background: #808080;
	margin-right: 10px;
	margin-left: 100px;
	
	
}
.khung .b19{
	float: left;
	width: 260px;
	height: 225px;
	background: #808080;
	margin-right: 10px;

}
.khung .b20{
	float: left;
	width: 260px;
	height: 225px;
	background: #808080;
	margin-bottom: 15px;

}
.khung .b21{
	clear: both;
	width: 800px;
	height: 60px;
	background: #808080;
	margin-top: 15px;
	margin-left: 100px;
}


