.khung{
	width: 100%;
	height: 1000px;
	background: pink;
}
.khung .line{
	width: 100%;
	height: 5px;
	background: black;
}
.khung .head{
	width: 99%;
	height: 200px;
	background: #F99C06;
	margin: 0 auto;
}
.head img{
	float: left;
	width: 15%;
	height: 100px;
}
.head .number{
	float: right;
	width: 25%;
	height: 100px;
	/*background: red;*/
}
.number img{
	width: 15%;
	height: 50px;
	padding: 20px 10px;
}
.number p{
	margin: 0;
	font-size: 30px;
	color: black;
	line-height: 40px;
	padding: 25px 10px;
}
.head .menu{
	clear: both;
	width: 100%;
	height: 100px;
	background: gray;
}
.menu ul{
	width: 100%;
	height: 100%;
	background: red;
	margin: 0 auto;
}
ul li img{
	width: 20%;
	height: 100px;
}
